[Unit]
Description=Display Notification Service
After=network.target
After=graphical-session.target


[Service]
Type=simple
Restart=always
RestartSec=5
Environment=SG_DISPLAY_SOCKET=/tmp/linux_display/socket.sock
Environment=DN_DEBUG=false
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/$USER/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/usr/local/bin/linux_display
StandardOutput=journal
StandardError=journal

TimeoutStopSec=30
KillMode=mixed

User=$USER
Group=$USER

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
